# ==============================================================================
# MiniChat 项目本地公共环境配置模板 (请复制此文件并命名为 .env 后根据本地实际情况修改)
# ==============================================================================

# 宿主机数据持久化挂载根路径 (根据自己喜欢设置绝对路径，数据量不大，图方便就直接存项目目录之下，不做数据代码分离)
DATA_VOLUME_BASE=D:/docker/data

# 各个组件的版本号
MYSQL_VERSION=8.0                           # MySQL 数据库版本
REDIS_VERSION=7.0-alpine                    # Redis 版本
ROCKETMQ_VERSION=5.1.4                      # RocketMQ 消息队列版本
ELASTICSEARCH_VERSION=7.17.10               # ES 搜索引擎版本
KIBANA_VERSION=7.17.10                      # Kibana (ES 可视化工具) 版本，其版本需与 ES 一致
NACOS_VERSION=v2.2.3                        # Nacos (服务注册/配置中心) 版本
NGINX_VERSION=alpine                        # Nginx 版本，alpine 轻量镜像

# MySQL 配置
MYSQL_ROOT_PASSWORD=your_secure_password    # root 用户密码
MYSQL_DATABASE=minichat_db                  # 容器启动时会自动创建的初始数据库名称
MYSQL_PORT=3306                             # 宿主机映射端口 (被占用了就换, 下同)

# Redis 配置
REDIS_PORT=6379                             # 宿主机映射端口
REDIS_PASSWORD=your_secure_password         # redis 密码

# Nacos 配置
NACOS_PORT=8848                             # 宿主机映射端口
NACOS_GRPC_PORT=9848                        # 宿主机映射端口

# RocketMQ 配置
ROCKETMQ_NAMESRV_PORT=9876                  # 宿主机映射端口
ROCKETMQ_BROKER_PORT=10911                  # 宿主机映射端口

# Elasticsearch & Kibana 配置
ES_PORT=9200                                # 宿主机映射端口
KIBANA_PORT=5601                            # 宿主机映射端口
ES_JVM_HEAP_LIMIT=512m                      # 限制本地 ES 内存

# Nginx 配置
NGINX_PORT=80                               # 宿主机映射端口

# 阿里云 OSS 配置
ALIYUN_OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_ACCESS_KEY_ID=your_access_key_id
ALIYUN_OSS_ACCESS_KEY_SECRET=your_access_key_secret
ALIYUN_OSS_BUCKET_NAME=minichat-avatars